* {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

html,
body {
    direction: rtl;
    text-align: right;
    position: relative;
    scroll-behavior: smooth;

}

h1,
h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #6c4099;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* важно */
    width: 100%;
    /* важно */
    height: 100px;
    z-index: 5;
    background: #fff;
    /* чтобы не было прозрачности */
}

.header-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    /* добавили вертикальное выравнивание */
    gap: 16px;

}

.header_icons {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
    height: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

@media (max-width: 800px) {
    .header_icons {
        margin-left: 10px;
    }
}

.icon {
    width: 20px;
    height: 20px;
    color: #684597;
}

.icons-message {
    margin-right: 10px;
}

.icons-whatsapp {
    position: relative;
    top: 15%;
    transform: translateY(-50%);
}

nav {}

.nav_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.nav_item {
    list-style: none;
    width: max-content;


}

.nav_link {
    font-size: 19px;
    font-weight: 600;
    text-decoration: none;
    color: #684597;
    margin-right: 3px;
    padding: 10px;

}

.active,
.nav_link:hover {
    background-color: #684597;
    color: #ffffff;

}

.header-logo {
    height: 100px;
}

.burger {
    display: none;
    /* на ПК скрыт */
    width: 44px;
    height: 44px;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 10px;
}

.burger span {
    display: block;
    height: 3px;
    margin: 6px 0;
    background: #684597;
    /* твой фиолетовый */
    border-radius: 4px;
    transition: .25s;
}


/* ---------- BURGER ---------- */
.burger {
    display: none;
    width: 44px;
    height: 44px;
    border: 0;
    background: transparent;
    cursor: pointer;
    z-index: 2001;
}

.burger span {
    display: block;
    height: 3px;
    margin: 6px 0;
    background: #684597;
    border-radius: 3px;
    transition: .3s;
}

/* ---------- MOBILE MENU ---------- */
@media (max-width: 900px) {

    .burger {
        display: block;
    }

    /* fullscreen overlay */
    .nav_list {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        background: white;
        transition: .4s ease;
        z-index: 2000;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* когда открыто */
    header.menu-open .nav_list {
        right: 0;
    }

    /* список по центру экрана */
    .nav_items {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .nav_link {
        font-size: 28px;
    }

    /* анимация в крестик */
    header.menu-open .burger span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }

    header.menu-open .burger span:nth-child(2) {
        opacity: 0;
    }

    header.menu-open .burger span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
}

.main {
    position: relative;
}

.hero {
    display: flex;
    height: 90vh;
    background-image: url(../img/hero-img2.png);
    background-size: cover;
    /* 🔥 ВОТ ЭТО ГЛАВНОЕ */
    background-repeat: no-repeat;
}

/* БЕЛАЯ ПОДСВЕТКА */
.hero::before {
    content: "";
    position: absolute;

    inset: 0;
    background: rgba(255, 255, 255, 0.55);
    /* степень «засвета» */
    z-index: 1;
}

.hero-container {
    width: 50%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-self: center;
}

.hero-container h1 {
    font-size: 48px;
    font-weight: 700;
    color: #28008e;
}

.hero-container h2 {
    font-size: 40px;
}

.hero-container p {
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 800px) {
    .hero {
        background-image: url(../img/hero-img-mobile.png);
    }

    .hero-container {
        width: 90%;
    }

    .hero-container h1 {
        font-size: 32px;
    }

    .hero-container h2 {
        font-size: 25px;
    }
}

.container-options {
    position: relative;
    z-index: 3;
}

.options {}

@media (min-width: 800px) {
    .options {
        display: flex;
        justify-content: space-around;
    }
}

.options:first-child {
    margin-top: -20px;
}

.options-link {
    text-decoration: none;
    color: white;
}

.options-item {
    padding: 50px 30px;
    margin-bottom: 20px;
    margin-inline: 10px;
    background-color: #6c4099;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

.item-icon {
    width: 56px;
    color: white;
    margin: auto;
}

.item-h1 {
    font-size: 27px;
}

.item-h2 {
    font-size: 16px;
}

.offer-container {
    margin-block: 56px;
}

.form-container {
    padding: 20px;
    background-color: #6c4099;
}

.form-title {
    color: white;
    margin-bottom: 20px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-input {
    padding: 8px 16px;
    font-weight: bold;
}

.form-button {
    padding: 8px 16px;
    font-weight: bold;
    background-color: #ffe162;
}

@media (min-width: 1000px) {
    .form-title {
        text-align: center;
    }

    .form-content {
        flex-direction: row;
        justify-content: center;

    }

    .form-input,
    .form-button {
        flex: 1;
        /* ВОТ ЭТО РАСТЯГИВАЕТ */
        min-width: 0;
    }
}

.section-about {
    padding: 66px 0;
}

.about-container {
    padding: 27px;

}


.about-title {
    font-size: 41px;
}

.about-paragraf {
    font-size: 19px;
    margin-bottom: 17px;
}

.about-list {
    font-size: 19px;
}

.about-list-item {}

.about-img {
    width: 100%;
    object-fit: contain;
}

@media (min-width: 800px) {
    .about-container {
        display: flex;
        gap: 20px;
    }

    .about-img {
        width: 50%;
    }
}

.section-stars {}

.starts-containers {}

.starts-icons {
    display: flex;
    justify-content: center;
}

.icons-star {
    color: #F0AD4E;
    width: 42px;
}

.stars-title {
    font-size: 31px;
    text-align: center;
}

.stars-items {}

.starts-items_item {
    text-align: center;
}

@media (min-width: 600px) {

    .stars-title {
        max-width: 1120px;
        margin: auto;
    }

    .stars-items {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .starts-items_item {
        max-width: 500px;
    }
}

.footer {
    margin-top: 40px;
    background-color: #684597;
    padding: 12px;
    color: #fff;
}
@media (min-width: 800px) {
    .footer {
        display: flex;
    }

}
.footer-nav {
    padding: 10px;

}
.footer-title-list {
    font-size: 20px;
    color: #edcd00;
    margin-top: 0;
    margin-bottom: 10px;

}
.footer-list {
    list-style: none;
    padding: 0;
}
.footer-list_item {
    
}

.footer-list_item-link {
    display: inline-block;
    color: white;
    padding: 0px 20px;
    font-size: 22px;
}
.footer-list_item-link:hover {
    background-color: #3f444b;
}